/* color name */
/* h1{
    color: tomato;
} */
/* HEX CODE */
/* h1{
    color: #4fe629;
} */
/* RGB  */
/* h1{
    color: rgb33, 22, 2; */
/* } */
/* back ground color */
/* body{
    color: gren;
    background-color: whea
} */
/* div{
    background-color: wheat;
    color: tomato;
} */
/* opacity */
/* img {
  opacity: 0.5;
} */
